.customPicker{
  width: 60vw;
  display: flex;
  position: absolute;
  justify-content: space-between;
  left: 50%;
  top: 70%;
  transform: translate(-50%,50%);
}

  .customPicker button{
    width: 10em;
    height: 10em;
    cursor: pointer;
    border: none;
  }

    #blue{
      background-color: blue;
    }

    #red{
      background-color: red;
    }

    #green{
      background-color: green;
    }

    #black{
      background-color: black;
    }

    #white{
      background-color: white;
      border: 1px solid black;
    }



  


